<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/dcca27cf-93e4-4841-8035-20c4763ceba9/resourceGroups/calories-tracking-rg/providers/Microsoft.Web/sites/calories-tracking-api</ResourceId>
    <ResourceGroup>calories-tracking-rg</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://calories-tracking-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>c55107ad-c842-45e8-8350-33f90cd9c1ab</ProjectGuid>
    <PublishUrl>https://calories-tracking-api.scm.azurewebsites.net/</PublishUrl>
    <UserName>$calories-tracking-api</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>